src/main/resources/api/calculator.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example.com/" name="CalculatorService">
	<wsdl:service name="CalculatorService">
		<wsdl:port binding="tns:CalculatorPort" name="TshirtServicePortTypePort">
			<soap:address location="http://calculatorservice.us-e2.cloudhub.io/"/>;
		</wsdl:port>
	</wsdl:service>
	<types>
		<xsd:schema>
			<xsd:import namespace="http://example.com/" schemaLocation="http://calculator-webservice.mybluemix.net/calculator?xsd=1"/>
		</xsd:schema>
	</types>
	<message name="subtract">
		<part name="parameters" element="tns:subtract"/>
	</message>
	<message name="subtractResponse">
		<part name="parameters" element="tns:subtractResponse"/>
	</message>
	<message name="multiply">
		<part name="parameters" element="tns:multiply"/>
	</message>
	<message name="multiplyResponse">
		<part name="parameters" element="tns:multiplyResponse"/>
	</message>
	<message name="add">
		<part name="parameters" element="tns:add"/>
	</message>
	<message name="addResponse">
		<part name="parameters" element="tns:addResponse"/>
	</message>
	<message name="divide">
		<part name="parameters" element="tns:divide"/>
	</message>
	<message name="divideResponse">
		<part name="parameters" element="tns:divideResponse"/>
	</message>
	<portType name="Calculator">
		<operation name="subtract">
			<input wsam:Action="http://example.com/Calculator/subtractRequest" message="tns:subtract"/>
			<output wsam:Action="http://example.com/Calculator/subtractResponse" message="tns:subtractResponse"/>
		</operation>
		<operation name="multiply">
			<input wsam:Action="http://example.com/Calculator/multiplyRequest" message="tns:multiply"/>
			<output wsam:Action="http://example.com/Calculator/multiplyResponse" message="tns:multiplyResponse"/>
		</operation>
		<operation name="add">
			<input wsam:Action="http://example.com/Calculator/addRequest" message="tns:add"/>
			<output wsam:Action="http://example.com/Calculator/addResponse" message="tns:addResponse"/>
		</operation>
		<operation name="divide">
			<input wsam:Action="http://example.com/Calculator/divideRequest" message="tns:divide"/>
			<output wsam:Action="http://example.com/Calculator/divideResponse" message="tns:divideResponse"/>
		</operation>
	</portType>
	<binding name="CalculatorPortBinding" type="tns:Calculator">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="subtract">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="multiply">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="add">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="divide">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="CalculatorService">
		<port name="CalculatorPort" binding="tns:CalculatorPortBinding">
			<soap:address location="http://calculator-webservice.mybluemix.net/calculator"/>
		</port>
	</service>
</definitions>